@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --text-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--body-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;    
}

.content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__container {
    display: flex;
    border: solid 2px var(--purple);
    border-radius: 60%;
    padding: 0.375rem;
    margin: auto;
}

.links__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
    gap: 1rem;
}

.links__title {
    font-weight: 300;
    font-family: var(--text-font);
    margin: 1rem 0 1rem 0;
}

.links__boxes {
    display: flex;
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 600;
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 5% 28px;
    color: var(--purple);
    width: 100%;
    justify-content: center;
    gap: 10px;
}
